/*
!.gitignore
!.gitattributes

!gitconfig.example

!dotfiles-timer.sh
!dotfiles-timer.ps1

!bootstrap.sh
!bootstrap.ps1

!dotfiles-update.sh
!dotfiles-update.ps1

!dotfiles-doctor.sh
!dotfiles-doctor.ps1

!.githooks/
!githooks-runner/